section.chest {
  padding: var(--section-side-padding-mobile);
  margin-top: var(--section-margin-top);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.chest-image-container {
  max-width: 13rem;
  cursor: pointer;
}

.chest-open-button {
  font-size: 1.3rem;
  padding: 0.4rem 0.9rem;
  border-radius: var(--button-border-radius);
  border: var(--button-border);
  background-color: var(--button-background-color);
  color: var(--body-background-color);
  cursor: pointer;
}

.chest .chest-tooltip {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 0.9rem;
  position: absolute;
  background-color: #fff;
  max-width: 12rem;
}

.chest .hidden-text {
  visibility: hidden;
}

.loot-claim-box {
  min-width: 17rem;
  min-height: 17rem;
  border: 4px solid #000;
  border-radius: 6px;
  padding: 1.5rem;
  position: absolute;
  top: 20rem;
  left: 4rem;
  z-index: 10;
  background-color: var(--loot-claim-box-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  box-shadow: 0 0 0 3px var(--loot-claim-box-color);
}

.claim-item-container {
  max-width: 5rem;
  border: 3px solid goldenrod;
  border-radius: 6px;
}

.claim-item-button {
  padding: 0.4rem 0.9rem;
  font-family: Inter, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  border: 3px solid #000;
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 4px 2px var(--button-background-color);
}

.claim-item-button:hover {
  background-color: rgb(156, 27, 27);
}
