.inventory {
  margin-top: var(--section-margin-top);
  padding: var(--section-side-padding-mobile);
  margin-bottom: 3rem;
}

.inventory > h2 {
  margin-bottom: 0.5rem;
}

.inventory-items {
  cursor: pointer;
}

.inventory-items-list {
  border: 2px solid #000;
  border-radius: 5px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0.7rem;
  max-width: 14rem;
  min-height: 43rem;
  background-color: rgb(244, 242, 242);
}

li.item-slot {
  border: 2px solid gray;
  background-color: rgb(147, 145, 145);
  border-radius: 4px;
}

li.occupied-slot {
  border: 3px solid goldenrod;
}

.item-tooltip {
  position: absolute;
  min-width: 10rem;
  max-width: 12rem;
  min-height: 10rem;
  border: 3px solid #000;
  border-radius: 6px;
  background-color: #fff;
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.hidden-item-tooltip {
  display: none;
}

@media screen and (min-width: 1024px) {
  .inventory {
    padding: var(--section-side-padding-desktop);
  }

  .inventory-items-list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 25.2rem;
    min-height: 25.2rem;
  }
}
