:root {
  --section-side-padding-mobile: 0 2.5rem;
  --section-side-padding-desktop: 0 5rem;
  --section-margin-top: 3rem;

  --body-background-color: #fdf6f6;

  --button-background-color: rgb(173, 56, 56);
  --button-border: 2px solid #000;
  --button-border-radius: 8px;

  --loot-claim-box-color: rgb(3, 3, 86);
}
